*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: rgb(226, 211, 241);
}  
#container{
    width: 80%;
    margin: 0px auto;
    border: 1px solid black;
} 
#header{
    height: 110px;
    background-color: rgb(179, 155, 224);
    color: white;
    text-align: center;
    line-height: 100px;
}