*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: rgb(226, 211, 241);
}  
#container{
    width: 80%;
    margin: 0px auto;
    border: 1px solid black;
} 
#header{
    height: 160px;
    background-color: rgb(179, 155, 224);
    color: white;
    text-align: center;
    line-height: 100px;
}

#Logo{
    padding: 20px;
    margin-left: 20px;
    float: left;
}

#logo img{
    float: left;
    height: 100px;
    margin: 30px;
}

#menu{
    background-color: rgb(132, 56, 231);
    color: white;
    height: 50px;
    border-bottom: 4px solid blueviolet;
}
#menu ul{
    list-style: none;
    text-decoration: none;
    margin: 0px auto;
    margin-left: 25px;
}
#menu ul li{
    line-height: 55px;
    float: left;
    border-right: 1px solid black;
}
#menu a{
    display: block;
    color: rgb(8, 8, 8);
    text-decoration: none;
    padding-left: 12px;
    padding-right: 12px;
}
#menu a:hover{
    background: rgb(243, 184, 228);
}

#content {
    margin: opx auto;
    background: rgb(207, 179, 243);

}
/*barra lateral*/
#lateral{
    width: 20%;
    border: 1px solid rgb(149, 78, 241);

}
#central{
    width: 80%;
    border: 1px solid rgb(126, 42, 236);
}