*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: rgb(226, 211, 241);
}  
#container{
    width: 80%;
    margin: 0px auto;
    border: 1px solid rgb(0, 0, 0);
} 
#header{
    height: 141px;
    background-color: rgb(255, 255, 255);
    color: black;
    text-align: center;
    line-height: 100px;
}

#Logo{
    padding: 20px;
    margin-left: 20px;
    float: left;
}

#logo img{
    float: left;
    height: 141px;
    
}

#menu{
    background-color: rgb(245, 193, 202);
    color: black;
    height: 50px;
    border-bottom: 4px solid rgb(147, 147, 153);
}
#menu ul{
    list-style: none;
    text-decoration: none;
    margin: 0px auto;
    margin-left: 25px;
}
#menu ul li{
    line-height: 55px;
    float: left;
    border-right: 1px solid black;
}
#menu a{
    display: block;
    color:black;
    text-decoration: none;
    padding-left: 12px;
    padding-right: 12px;
}
#menu a:hover{
    background: rgb(243, 184, 228);
}

#content{
    margin: 5px auto;
    
    background:  green;


}
/*barra lateral*/
#lateral{
    width: 19%;
    min-height: 650px;
    border: 1px solid rgb(100, 22, 201);
    float: left;
    margin-top: 1px;
    margin-left: 10px;


}
#lateral .block_aside{
    display: block;
    width: 86%;
    margin: 5px;
    padding: 10px;
    border: 1px solid rgb(148, 69, 250);
}

#lateral h3{
    display: block;
    color: white;
    width: 100%;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 15px;
    font-size: 16px;
    font-weight: bold;
    background: #e1e1e1;
    border-bottom: 2px solid #01b1ea;

}
input[type="text"],
input[type="password"],
input[type="email"]{
    display: block;
    width: 95%;
    margin-top: 2px;
    margin-bottom: 2px;
    border: 1px solid rgb(100, 22, 201);
    box-shadow: 0px 0px 2px rgb(148, 69, 250);
    background: rgb(226, 211, 241);
    padding: 2px;
    color: rgb(0, 0, 0);
    transition: all 300ms;
}
input[type="text"],
input[type="password"],
input[type="email"]:focus{
    border: 1pxs solid rgb(67, 15, 209);
    color: black;
    
}
input[type="submit"],
input[type="button"],
.button{
    display: block;
    border-radius: 2px;
    padding: 5px;
    padding-left: 10px;
    background: rgb(235, 202, 202);
    color: black;
    border: 1px solid purple;
    cursor: pointer;

}
#central{
    width: 79%;
    min-height: 600px;
    float: right;
    /*boder:1px solid rgb(126,82,228);*/
    border-left: 1px solid black;
    box-shadow: -5px -1px 5px gray;
    padding: 5px;
    margin-top: 5px;
}
#central h1 {
    font-size: 24px;
    font-weight:  normal;
    letter-spacing: 1px;
    text-align: center;
    border-bottom: 1px solid black;
    margin-bottom: 10px;
    padding: 10px;
    padding-top: 0px;
}
.product{
    width: 30%;
    float: left;
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
}
.product img{
    height: 170px;
    margin-bottom: 10px;
}
.product a{
    color: black;
    text-decoration: none;
}
.product a:hover{
    color: white;
}
#footer{
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    background: royalblue;
    color: black;
    border-top: blueviolet;
}
